{% extends 'visualization/base.html' %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
  <div class="about-container">
    <h1 class="about-header">About NeoKG</h1>
    <div class="about-content">
      <p>
        NeoKG is a Neo4j-based KG visualization demonstration for boosting tech innovation.
      </p>
      <p>
        Through backend of Django, offering RESTful API and Neo4j Graph DB interaction with Neomodel.
        With frontend ECharts for dynamic graph visualization.
      </p>
      <p>
        Developed by <strong>AcerousKylin</strong> at <strong>Tianjin Renai College</strong>, I believe in transforming data into art.
        For inquiries or collaborations, please <a class="contact-link" href="https://github.com/AcerousKylin" target="_blank">contact me</a>.
      </p>
    </div>
  </div>
{% endblock %}
