{% extends 'visualization/base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
  <!-- Entry Main Section -->
  <section class="hero">
    <div class="content">
      <h1>Discover</h1>
      <h1>The</h1>
      <h1>NeoKG</h1>
      <p>A Neo4j-based Knowledge Graph visualization demonstration for boosting tech innovation.</p>
      <a href="{% url 'graph' %}" class="btn-hero">Explore Now</a>
    </div>
  </section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}